#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk
ifeq ($(origin CC),default)
CC = $(DEB_HOST_GNU_TYPE)-gcc
endif
export CC
export PKG_CONFIG = $(DEB_HOST_GNU_TYPE)-pkg-config

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

export LIBDIR = /lib/crda
export LDLIBREG = -Wl,-rpath,$(LIBDIR)
export REG_BIN = /lib/crda/regulatory.bin
export USE_OPENSSL = 1
export RUNTIME_PUBKEY_DIR = /lib/crda/pubkeys
export RUNTIME_PUBKEY_ONLY = 1
export V = 1
#export DH_VERBOSE = 1

%:
	dh ${@}

override_dh_auto_build:
	dh_auto_build -- all_noverify

override_dh_install:
	dh_install
	install -D -o 0 -g 0 -m 755 debian/setregdomain \
		debian/crda/lib/crda/setregdomain
	mkdir -m 755 debian/crda/$(RUNTIME_PUBKEY_DIR)
	install -m 644 pubkeys/*.pem debian/pubkeys/*.pem \
		debian/crda/$(RUNTIME_PUBKEY_DIR)/
