Package: linux-libc-dev
Source: linux-upstream
Version: 6.1.8-16ton-57
Architecture: arm64
Maintainer: maddocks <maddocks@YOGA-C630>
Installed-Size: 6490
Provides: linux-kernel-headers
Section: devel
Priority: optional
Multi-Arch: same
Homepage: https://www.kernel.org/
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system libraries.
