Package: linux-image-6.1.8-16ton
Source: linux-upstream
Version: 6.1.8-16ton-57
Architecture: arm64
Maintainer: maddocks <maddocks@YOGA-C630>
Installed-Size: 225214
Section: kernel
Priority: optional
Homepage: https://www.kernel.org/
Description: Linux kernel, version 6.1.8-16ton
 This package contains the Linux kernel, modules and corresponding other
 files, version: 6.1.8-16ton.
